<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <img src="/images/academyLogo.png" />
      <p>Reset Password</p>
      <form action="/api/v1/auth/forgotPassword/<%= userId%>" method="POST">
        <div class="textbox">
          <label> New password </label>
          <input type="password" name="password" required />
        </div>
        <div class="textbox">
          <label>Confirm password</label>
          <input type="password" name="confirmPassword" required />
        </div>
        <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </body>
</html>
